/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinfilepartclassindex/org.jetbrains.kotlin.idea.stubindex.KotlinFilePartClassIndex.storage
/build/idea-sandbox/system/index/stubs1/java.method.parameter.types/java.method.parameter.types.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinannotationsindex/org.jetbrains.kotlin.idea.stubindex.KotlinAnnotationsIndex.storage.len
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelClassByPackageIndex.ver
/build/idea-sandbox/system/index/stubs1/dom.elementclass/dom.elementClass.storage
/build/idea-sandbox/system/index/stubs1/dom.namespacekey/dom.namespaceKey.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinexactpackagesindex/org.jetbrains.kotlin.idea.stubindex.KotlinExactPackagesIndex.storage
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlintypealiasbyexpansionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinTypeAliasByExpansionShortNameIndex.storage.keystream.len
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlinprobablycontractedfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyContractedFunctionShortNameIndex.storage.values.at
/build/idea-sandbox/system/index/stubs1/.versions/properties.index.ver
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinfilefacadeclassbypackageindex/org.jetbrains.kotlin.idea.stubindex.KotlinFileFacadeClassByPackageIndex.storage
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlinprobablynothingfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyNothingFunctionShortNameIndex.storage_i.len
/build/idea-sandbox/system/index/stubs1/java.method.name/java.method.name.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinfilefacadefqnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinFileFacadeFqNameIndex.storage
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelTypeAliasByPackageIndex.ver
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinExactPackagesIndex.ver
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinpropertyshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinPropertyShortNameIndex.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelextensionsbyreceivertypeindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelExtensionsByReceiverTypeIndex.storage.len
/build/idea-sandbox/system/index/stubs1/gr.script.fqn/gr.script.fqn.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelpropertybypackageindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelPropertyByPackageIndex.storage
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinFileFacadeFqNameIndex.ver
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinFunctionShortNameIndex.storage.len
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelextensionsbyreceivertypeindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelExtensionsByReceiverTypeIndex.storage_i.len
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelextensionsbyreceivertypeindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelExtensionsByReceiverTypeIndex.storage.values.at
/build/idea-sandbox/system/index/stubs1/java.annotations/java.annotations.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinfullclassnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinFullClassNameIndex.storage.len
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelExtensionsByReceiverTypeIndex.ver
/build/idea-sandbox/system/index/stubs1/.versions/gr.script.class.ver
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinfilefacadefqnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinFileFacadeFqNameIndex.storage.len
/build/idea-sandbox/system/index/stubs1/gr.annot.method.name/gr.annot.method.name.storage.len
/build/idea-sandbox/system/index/stubs1/gr.class.super/gr.class.super.storage.len
/build/idea-sandbox/system/index/stubs1/.versions/java.field.name.ver
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinsuperclassindex/org.jetbrains.kotlin.idea.stubindex.KotlinSuperClassIndex.storage
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlinprobablycontractedfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyContractedFunctionShortNameIndex.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelfunctionfqnnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelFunctionFqnNameIndex.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelclassbypackageindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelClassByPackageIndex.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelfunctionfqnnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelFunctionFqnNameIndex.storage
/build/idea-sandbox/system/index/stubs1/.versions/gr.script.fqn.ver
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinTypeAliasShortNameIndex.ver
/build/idea-sandbox/system/index/stubs1/java.class.shortname/java.class.shortname.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinexactpackagesindex/org.jetbrains.kotlin.idea.stubindex.KotlinExactPackagesIndex.storage.len
/build/idea-sandbox/system/index/stubs1/gr.annot.members/gr.annot.members.storage
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlinprobablynothingfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyNothingFunctionShortNameIndex.storage.keystream
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelclassbypackageindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelClassByPackageIndex.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelfunctionbypackageindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelFunctionByPackageIndex.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinoverridableinternalmembersshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinOverridableInternalMembersShortNameIndex.storage.len
/build/idea-sandbox/system/index/stubs1/jvm.static.member.name/jvm.static.member.name.storage.len
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlinprobablycontractedfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyContractedFunctionShortNameIndex.storage.keystream.len
/build/idea-sandbox/system/index/stubs1/gr.class.fqn/gr.class.fqn.storage.len
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlinprobablynothingfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyNothingFunctionShortNameIndex.storage.values.at
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintopleveltypealiasfqnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelTypeAliasFqNameIndex.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinclassshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinClassShortNameIndex.storage
/build/idea-sandbox/system/index/stubs1/properties.index/properties.index.storage.len
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyNothingFunctionShortNameIndex.ver
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinprobablynothingpropertyshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyNothingPropertyShortNameIndex.storage
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinFullClassNameIndex.ver
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinprobablynothingfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyNothingFunctionShortNameIndex.storage.len
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelPropertyByPackageIndex.ver
/build/idea-sandbox/system/index/stubs1/properties.index/properties.index.storage
/build/idea-sandbox/system/index/stubs1/gr.script.class/gr.script.class.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinmultifileclasspartindex/org.jetbrains.kotlin.idea.stubindex.KotlinMultifileClassPartIndex.storage
/build/idea-sandbox/system/index/stubs1/gr.class.super/gr.class.super.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintopleveltypealiasbypackageindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelTypeAliasByPackageIndex.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintopleveltypealiasfqnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelTypeAliasFqNameIndex.storage
/build/idea-sandbox/system/index/stubs1/markdown.header/markdown.header.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinsuperclassindex/org.jetbrains.kotlin.idea.stubindex.KotlinSuperClassIndex.storage.len
/build/idea-sandbox/system/index/stubs1/java.method.name/java.method.name.storage
/build/idea-sandbox/system/index/stubs1/.versions/java.annotations.ver
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinfilefacadeshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinFileFacadeShortNameIndex.storage.len
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelextensionsbyreceivertypeindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelExtensionsByReceiverTypeIndex.storage.values
/build/idea-sandbox/system/index/stubs1/gr.script.class/gr.script.class.storage.len
/build/idea-sandbox/system/index/stubs1/gr.method.name/gr.method.name.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinfilefacadeclassbypackageindex/org.jetbrains.kotlin.idea.stubindex.KotlinFileFacadeClassByPackageIndex.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintypealiasshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinTypeAliasShortNameIndex.storage.len
/build/idea-sandbox/system/index/stubs1/java.class.fqn/java.class.fqn.storage
/build/idea-sandbox/system/index/stubs1/dom.namespacekey/dom.namespaceKey.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinfilepartclassindex/org.jetbrains.kotlin.idea.stubindex.KotlinFilePartClassIndex.storage.len
/build/idea-sandbox/system/index/stubs1/java.class.extlist/java.class.extlist.storage.len
/build/idea-sandbox/system/index/stubs1/gr.annot.members/gr.annot.members.storage.len
/build/idea-sandbox/system/index/stubs1/gr.script.fqn/gr.script.fqn.storage.len
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelFunctionFqnNameIndex.ver
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinFunctionShortNameIndex.storage
/build/idea-sandbox/system/index/stubs1/jvm.static.member.type/jvm.static.member.type.storage
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlinoverridableinternalmembersshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinOverridableInternalMembersShortNameIndex.storage.len
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlinprobablycontractedfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyContractedFunctionShortNameIndex.storage
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelextensionsbyreceivertypeindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelExtensionsByReceiverTypeIndex.storage.keystream
/build/idea-sandbox/system/index/stubs1/jvm.static.member.type/jvm.static.member.type.storage.len
/build/idea-sandbox/system/index/stubs1/.versions/java.class.extlist.ver
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlinprobablycontractedfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyContractedFunctionShortNameIndex.storage_i
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinprobablynothingpropertyshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyNothingPropertyShortNameIndex.storage.len
/build/idea-sandbox/system/index/stubs1/java.class.fqn/java.class.fqn.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelpropertyfqnnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelPropertyFqnNameIndex.storage
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelFunctionByPackageIndex.ver
/build/idea-sandbox/system/index/stubs1/java.field.name/java.field.name.storage.len
/build/idea-sandbox/system/index/stubs1/markdown.header/markdown.header.storage
/build/idea-sandbox/system/index/stubs1/.versions/jvm.static.member.name.ver
/build/idea-sandbox/system/index/stubs1/dom.elementclass/dom.elementClass.storage.len
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinFileFacadeClassByPackageIndex.ver
/build/idea-sandbox/system/index/stubs1/java.method.parameter.types/java.method.parameter.types.storage
/build/idea-sandbox/system/index/stubs1/java.anonymous.baseref/java.anonymous.baseref.storage.len
/build/idea-sandbox/system/index/stubs1/gr.annot.method.name/gr.annot.method.name.storage
/build/idea-sandbox/system/index/stubs1/java.annotations/java.annotations.storage.len
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelextensionsbyreceivertypeindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelExtensionsByReceiverTypeIndex.storage.keystream.len
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelPropertyFqnNameIndex.ver
/build/idea-sandbox/system/index/stubs1/.versions/java.method.parameter.types.ver
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyNothingPropertyShortNameIndex.ver
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlinprobablycontractedfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyContractedFunctionShortNameIndex.storage_i.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintopleveltypealiasbypackageindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelTypeAliasByPackageIndex.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinclassshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinClassShortNameIndex.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintypealiasbyexpansionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinTypeAliasByExpansionShortNameIndex.storage
/build/idea-sandbox/system/index/stubs1/jvm.static.member.name/jvm.static.member.name.storage
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinFunctionShortNameIndex.ver
/build/idea-sandbox/system/index/stubs1/gr.anonymous.class/gr.anonymous.class.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinscriptfqnindex/org.jetbrains.kotlin.idea.stubindex.KotlinScriptFqnIndex.storage
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlinprobablynothingfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyNothingFunctionShortNameIndex.storage.keystream.len
/build/idea-sandbox/system/index/stubs1/java.field.name/java.field.name.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinprobablycontractedfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyContractedFunctionShortNameIndex.storage
/build/idea-sandbox/system/index/stubs1/gr.method.name/gr.method.name.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinmultifileclasspartindex/org.jetbrains.kotlin.idea.stubindex.KotlinMultifileClassPartIndex.storage.len
/build/idea-sandbox/system/index/stubs1/java.class.extlist/java.class.extlist.storage
/build/idea-sandbox/system/index/stubs1/gr.anonymous.class/gr.anonymous.class.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintypealiasbyexpansionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinTypeAliasByExpansionShortNameIndex.storage.len
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinClassShortNameIndex.ver
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinfullclassnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinFullClassNameIndex.storage
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelextensionsbyreceivertypeindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelExtensionsByReceiverTypeIndex.storage.values.s
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinpropertyshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinPropertyShortNameIndex.storage
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinTypeAliasByExpansionShortNameIndex.ver
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinannotationsindex/org.jetbrains.kotlin.idea.stubindex.KotlinAnnotationsIndex.storage
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlinoverridableinternalmembersshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinOverridableInternalMembersShortNameIndex.storage
/build/idea-sandbox/system/index/stubs1/java.module.name/java.module.name.storage.len
/build/idea-sandbox/system/index/stubs1/java.anonymous.baseref/java.anonymous.baseref.storage
/build/idea-sandbox/system/index/stubs1/.versions/java.anonymous.baseref.ver
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinprobablycontractedfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyContractedFunctionShortNameIndex.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinscriptfqnindex/org.jetbrains.kotlin.idea.stubindex.KotlinScriptFqnIndex.storage.len
/build/idea-sandbox/system/index/stubs1/java.module.name/java.module.name.storage
/build/idea-sandbox/system/index/stubs1/.versions/java.method.name.ver
/build/idea-sandbox/system/index/stubs1/.versions/java.class.fqn.ver
/build/idea-sandbox/system/index/stubs1/gr.field.name/gr.field.name.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelextensionsbyreceivertypeindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelExtensionsByReceiverTypeIndex.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintypealiasshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinTypeAliasShortNameIndex.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelpropertybypackageindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelPropertyByPackageIndex.storage.len
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelTypeAliasFqNameIndex.ver
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinMultifileClassPartIndex.ver
/build/idea-sandbox/system/index/stubs1/gr.field.name/gr.field.name.storage.len
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinFileFacadeShortNameIndex.ver
/build/idea-sandbox/system/index/stubs1/.versions/org.jetbrains.kotlin.idea.stubindex.KotlinSuperClassIndex.ver
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinprobablynothingfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyNothingFunctionShortNameIndex.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinoverridableinternalmembersshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinOverridableInternalMembersShortNameIndex.storage
/build/idea-sandbox/system/index/stubs/org.jetbrains.kotlin.idea.stubindex.kotlinprobablycontractedfunctionshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinProbablyContractedFunctionShortNameIndex.storage.keystream
/build/idea-sandbox/system/index/stubs1/java.class.shortname/java.class.shortname.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelfunctionbypackageindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelFunctionByPackageIndex.storage.len
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlinfilefacadeshortnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinFileFacadeShortNameIndex.storage
/build/idea-sandbox/system/index/stubs1/gr.class.fqn/gr.class.fqn.storage
/build/idea-sandbox/system/index/stubs1/org.jetbrains.kotlin.idea.stubindex.kotlintoplevelpropertyfqnnameindex/org.jetbrains.kotlin.idea.stubindex.KotlinTopLevelPropertyFqnNameIndex.storage.len
